.hello-bar {
  margin: 0;
  padding: 0;
  background-color: #283C50;
  width: 100%;
  vertical-align: middle;
  height: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
}
.hello-bar a {
  color: #283C50;
  text-decoration: none;
}
.hello-bar a:hover {
  color: #0191D0;
  text-decoration: underline;
}

.hello-bar-text {
  display: inline-block;
  padding: 16px;
}
.hello-bar-text a {
  color: #fff;
}
.hello-bar-text a:hover {
  color: #fff;
}

@media screen and (max-width: 576px) {
  .hello-bar-hide-mobile {
    display: none;
  }
}

.hello-bar-logo-toggle {
  display: inline-block;
  position: absolute;
  right: 0;
}

.hello-bar-logo {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  margin: 8px 16px 8px 0;
}

.hello-bar-btn {
  background-color: #0191D0;
  display: inline-block;
  vertical-align: middle;
  padding: 13px 12px 10px 12px;
}
.hello-bar-btn .hello-bar-icon {
  width: 24px;
  height: 24px;
  transition: all 0.4s cubic-bezier(0.4, -0.2, 0.6, 1.2);
}
.hello-bar-btn-open:hover {
  background-color: #01a3e9;
}
.hello-bar-btn-closed {
  background-color: #01a3e9;
}
.hello-bar-btn-closed .hello-bar-icon {
  transform: rotate(-180deg);
}

.hello-bar-menu {
  max-height: 0;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  right: 0;
  top: 48px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.6, 1);
}
.hello-bar-menu-open {
  max-height: 1000px;
}

.hello-bar-nav {
  margin: 20px 32px;
  padding: 0;
  list-style: none;
  font-weight: 700;
}
.hello-bar-nav a.disabled {
  color: rgba(40, 60, 80, 0.5) !important;
  pointer-events: none;
  cursor: default;
}
.hello-bar-nav li {
  padding: 12px 0;
}
